*.tar.gz
*.tmp
.*.sw?
.DS_Store
.build
.git/
.lwpcookies
Build
Build.bat
MANIFEST
MANIFEST.bak
META.*
META.yml
MYMETA.*
MYMETA.json
MYMETA.yml
Makefile
Makefile.old
_build*
_build/
batchrun.output
blib/
cover_db
data/
data_/
inc/
pm_to_blib
t/var/
tmp/
